*
!.gitignore
# todo add more directories
!zerokara/
!tree_view_with_menu/
!qml/
!qml/qt.io
!*.qml

!*.cpp
# I have seen moc_predefs.h somewhere that we might want to ignore, idk
!*.h
# !precompiled.h
# !qt_includes.h
# !stl_includes.h
# !sm_parser.h
# !dumb_stdlib_linux.h
!*.pro
!*.txt
!*.nix
!*.lock
!README.md
!Shannon's Theorem.sm
!notes/
